html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: block;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    background-color: white;
}

h1 {
    margin: 0;
    font-size: 3em;
}

h2 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #222222;
}

p {
    margin: 0;
    margin-top: 1em;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
}

hr {
    background-color: rgb(60, 60, 60);
    border: none;
    height: 4px;
    width: 4em;
}

button {
    background-color: transparent;
    color: #eeeeee;
    border: 2px solid white;
    margin: 1em;
    padding: 1em;
    transition-property: background-color;
    transition-duration: 1s;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    width: 15em;
}

footer {
    position: relative;
}

#overflow-wrap {
    scroll-behavior: smooth;
}

.container {
    padding-top: 2em;
}

.home {
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1492573637402-25691cd9eac2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.welcome {
    font-family: "Raleway", sans-serif;
    font-size: 2.8rem;
}

.highlight {
    color: #f08a5d;
}

button:hover {
    background-color: white;
    color: rgb(39, 39, 39);
    cursor: pointer;
}

.navbar {
    background-color: #171717;
    width: 100%;
    text-align: left;
    display: flex;
    border-style: none none solid none;
    border-width: 4px;
    border-color: #3f72af;
    font-family: "raleway", sans-serif;
    font-size: 1.1rem;
}
.nav-item {
    margin: 0.8em 1.5%;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    color: #f08a5d;
    transition-property: color;
    transition-duration: 0.5s;
}

.nav-item-home {
    margin-left: 5%;
}

.navbar-fixed {
    position: relative;
    z-index: 1;
}

.navbar-moveable {
    position: fixed;
    top: -5em;
    left: 0;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 0.5s;
}

.about {
    display: flex;
    justify-content: space-between;
}

.maahi-profile-photo {
    width: 15em;
    border-radius: 50%;
}

.about-myself {
    margin: auto;
}

.myself-intro {
    margin-top: 2em;
    font-family: "Raleway", sans-serif;
}
.myself-intro a {
    text-decoration: none;
    color: #3f72af;
}
.myself-intro p {
    color: #797979;
    font-family: "Raleway";
    font-size: 1.1rem;
    font-weight: Thin;
    line-height: 1.5;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
}

.about-skills {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1.8em 1.8em;
    margin: auto;
    position: relative;
    top: -2em;
    width: 45%;
}

.skill-name {
    background-color: rgb(245, 99, 37);
    color: white;
    padding: 0.25em 0;
}

.skill-level {
    background-color: #eeeeee;
    height: 1.8em;
}

.current-skill-level {
    background-color: #155263;
    height: 1.8em;
}

.html-level {
    width: 90%;
}
.css-level {
    width: 90%;
}
.javascript-level {
    width: 70%;
}
.react-level {
    width: 65%;
}
.nodejs-level {
    width: 50%;
}
.mongo-level {
    width: 60%;
}

.work {
    background-color: #eeeeee;
    font-family: "raleway", sans-serif;
    margin: 10em auto 0 auto;
    padding: 4em 0;
}

.heading {
    color: rgb(60, 60, 60);
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
    margin-top: 2em;
}

.work-projects {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5em auto;
    width: 60em;
}

.projects {
    display: flex;
    justify-content: center;
    height: 15em;
    overflow: hidden;
    width: 20em;
}

.projects img {
    height: 15em;
}

.contact {
    background-color: #222;
}

.form {
    padding: 5%;
}

input,
textarea {
    background-color: #171717;
    border: none;
    color: #eeeeee;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    margin: 0.2em auto;
    outline: none;
    padding: 0.5em;
    width: 40%;
}

.footer {
    background-color: #171717;
    height: 10em;
    padding-top: 1em;
}

.uparrow {
    color: #3f72af;
    display: inline-block;
    height: 1em;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -0.5em;
    width: 1em;
}

.uparrow-background {
    background-color: #eeeeee;
    height: 2em;
    top: -1em;
    width: 3em;
}

.arrow-to-top {
    width: 1em;
}

.arrow-to-top:hover {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #222222;
    color: #eeeeee;
    font-size: 1.5em;
    height: 2.5em;
    margin: 0.5em;
    text-align: center;
    width: 2.5em;
}

.info-box {
    background-color: #171717;
    color: #555555;
    padding-bottom: 1em;
}

.disableSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
    }
    .work-projects {
        grid-template-columns: auto;
        width: 20em;
    }
    input,
    textarea {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .about-skills {
        width: 90%;
    }
}
